
@{
    ViewData["Title"] = "TRACK SHIPMENT";
}

<div class="banner1">
</div>

<div class="container-fluid">
    <div class="banner-form-agileinfo">
        <h5>Track <span>Shipment</span>?</h5>
        <p>
            Kindly fill this form.
        </p>
        <form action="#" method="post">
            <input type="text" class="email" name="name" placeholder="Name" required="">
            <input type="tel" class="tel" name="tel" placeholder="Phone Number" required="">
            <select class="form-control option-w3ls">
                <option>Transport From</option>
                <option>Albania</option>
                <option>Belgium</option>
                <option>Cameroon</option>
                <option>Dominica</option>
                <option>France</option>
                <option>Jersey</option>
            </select>
            <select class="form-control option-w3ls">
                <option>Transport To</option>
                <option>Colombia</option>
                <option>Indonesia</option>
                <option>Japan</option>
                <option>Lebanon</option>
                <option>Luxembourg</option>
                <option>Montserrat</option>
            </select>
            <input type="submit" class="hvr-shutter-in-vertical" value="Get started">
        </form>
    </div>
</div>

<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script> <!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //js -->
<!-- //js-scripts -->
<!-- start-smoth-scrolling -->
<script src="js/SmoothScroll.min.js"></script>
<script type="text/javascript" src="js/move-top.js"></script>
<script type="text/javascript" src="js/easing.js"></script>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $(".scroll").click(function (event) {
            event.preventDefault();
            $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
        });
    });
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
    $(document).ready(function () {
        /*
            var defaults = {
            containerID: 'toTop', // fading element id
            containerHoverID: 'toTopHover', // fading element hover id
            scrollSpeed: 1200,
            easingType: 'linear'
            };
        */

        $().UItoTop({ easingType: 'easeOutQuart' });

    });
</script>
<!-- //here ends scrolling icon -->
<!-- start-smoth-scrolling -->
@*</body>
    </html>*@